footer {
  background-color: rgba($black, 0.8);
  bottom: 0;
  font-size: 0.75rem;
  height: 1rem;
  left: 0;
  line-height: 0.75rem;
  padding: 0.5rem 1rem;
  position: fixed;
  right: 0;
  text-align: center;

  img {
    height: 1.5rem;
    margin: -0.25rem 0 -.5rem;
    padding: 0 0.75rem;
  }

  span {
    display: inline-block;
    vertical-align: middle;
  }
}

@media screen and (max-width: $phone-landscape-max) {
  footer {
    bottom: auto;
    left: auto;
    right: auto;
    position: relative;
    height: auto;
    padding: 2rem 0;

    a {
      display: block;
      margin-bottom: 1rem;
    }

    img {
      position: absolute;
      top: 50%;
      transform: translateY(-1rem);

      &:first-of-type {
        left: 1rem;
      }

      &:nth-of-type(2) {
        right: 1rem;
      }
    }
  }
}
