{% extends "base.html" %}
{% block body %}
<div class="tracks">
    <div class="uptown track">
        <div class="scrim">
            <h2>Uptown</h2>
            <h3 id="uptown-estimate" class="estimate">{{estimates.uptown}}</h3>
        </div>
    </div>
    <div class="downtown track">
        <div class="scrim">
            <h2>Downtown</h2>
            <h3 id="downtown-estimate" class="estimate">{{estimates.downtown}}</h3>
        </div>
    </div>
</div>
<footer>
    <p>
        <a href="https://www.google.com/maps/place/116+St+-+Columbia+University/@40.8075411,-73.9649326,18.17z/data=!4m2!3m1!1s0x89c2f63ebe8c837b:0xef95e560e3c952a1">Times are from the 116th &amp; Broadway stop.</a>
        <img src="{{url_for('static', filename='img/1.png') }}" alt="1">
        <a href="http://datamine.mta.info/">Live data provided by the MTA.</a>
        <img src="{{url_for('static', filename='img/1.png') }}" alt="1">
        <a href="https://schlosser.io/">Developed by Dan Schlosser at Columbia University.</a>
    </p>
</footer>
<script type="text/javascript" src="{{ url_for('static', filename='js/poll.js') }}"></script>
{% endblock %}
